# ignore everything
*

# allow important files
!.gitignore
!pom.xml
!package.json
!README.md
!.env

# not ignore sensitive files
!src\main\java\com\example\budg_v2\database\DatabaseConnection.java
# allow folders
!python/
!src/
!frontend/

# allow their contents
!python/**
!src/**
!frontend/**